<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>HOME</h1>
  <a href="/logout">Logout</a>
  <a href="/change-password">ChangePassword</a>
</body>
<style>
  * {
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #ff9a9e, #fad0c4);
  }

  h1 {
    font-size: 50px;
    color: #000;
  }

  a {
    color: #ff595f;
    text-decoration: none;
    font-size: 18px;
  }

  a:visited {
    color: #ff595f;
  }
</style>

</html>